.notification-counter {
  width: 9px;
  height: 9px;
  position: absolute;
  top: 18px;
  right: 9px;
  border-radius: 500px;
  color: #fff;
  font-size: 0.7em;
  background-color: #589AE7;
}

notification-drawer-wrapper {
  z-index: 1050;  // the overview shields are set to 9
  pf-notification-drawer {
    .drawer-pf {
      z-index: 1050;
    }
  }
}

.drawer-pf-notification:hover {
  cursor: pointer;
}

.panel-heading {
  .small {
    .small();
    color: #000000;
  }
  .panel-title {
    .container-fluid {
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }
}
