.notification-counter {
  width: 9px;
  height: 9px;
  position: absolute;
  top: 18px;
  right: 9px;
  border-radius: 500px;
  color: #fff;
  font-size: 0.7em;
  background-color: #a30000; // @pf-red-200;
}

notification-drawer-wrapper {
  z-index: 1050;  // the overview shields are set to 9
  pf-notification-drawer {
    .drawer-pf {
      z-index: 1050;
    }
  }
}

.drawer-pf-notification:hover {
  cursor: pointer;
}
