<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <strong>{{notificationGroup.heading}}</strong>
    </div>
    <div class="col-md-6 text-right small">
      <a ng-href="project/{{$ctrl.customScope.projectName}}/browse/events">All Events</a>
    </div>
  </div>
  <div class="row mar-top-md">
    <div class="col-md-6">
      <em>{{$ctrl.customScope.countAllUnread(notificationGroup)}} Unread</em>
    </div>
    <div class="col-md-6 text-right small">
      <span ng-repeat="(countKey, count) in notificationGroup.counts">
        <span
          class="pficon"
          ng-class="$ctrl.customScope.getStatusForCount(countKey)"
          aria-hidden="true">
        </span> {{count}}
      </span>
    </div>
  </div>
</div>
