<pf-notification-drawer
  style="z-index: 100;"
  drawer-hidden="drawerHidden"
  allow-expand="allowExpand"
  draw-expanded="drawerExpanded"
  drawer-title="{{drawerTitle}}"
  notification-groups="notificationGroups"
  action-button-title="{{actionButtonTitle}}"
  action-button-callback="actionButtonCallback"
  heading-include="{{headingInclude}}"
  subheading-include="{{subheadingInclude}}"
  notification-body-include="{{notificationBodyInclude}}"
  notification-footer-include="{{notificationFooterInclude}}"
  on-close="onClose"
  on-clear-all="onClearAll"
  custom-scope="customScope"></pf-notification-drawer>
