<div ng-class="{'expanded' : drawerExpanded}">
  <div
    class="dropdown pull-right dropdown-kebab-pf"
    ng-if="notification.actions && notification.actions.length > 0">
    <button
      class="btn btn-link dropdown-toggle"
      type="button"
      id="dropdownKebabRight"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="true">
      <span class="fa fa-ellipsis-v"></span>
    </button>
    <!--
      actions go here if we want to use them
      <ul class="dropdown-menu dropdown-menu-right">
    -->
  </div>
  <span
    ng-if="notification.status"
    class="{{'pull-left ' + customScope.getNotficationStatusIconClass(notification)}}"
    ng-click="customScope.markRead(notification)"></span>
  <span
    class="drawer-pf-notification-message"
    ng-click="customScope.markRead(notification)">{{notification.message}}</span>
  <div
    class="drawer-pf-notification-info"
    ng-click="customScope.markRead(notification)">
    <span class="date">{{notification.timeStamp | date:'MM/dd/yyyy'}}</span>
    <span class="time">{{notification.timeStamp | date:'h:mm:ss a'}}</span>
  </div>
</div>
