<div>
  <div
    style="z-index: 100;"
    pf-notification-drawer
    drawer-hidden="drawerHidden"
    allow-expand="allowExpand"
    draw-expanded="drawerExpanded"
    drawer-title="drawerTitle"
    notification-groups="notificationGroups"
    action-button-title="{{actionButtonTitle}}"
    action-button-callback="actionButtonCallback"
    heading-include="{{headingInclude}}"
    subheading-include="{{subheadingInclude}}"
    notification-body-include="{{notificationBodyInclude}}"
    notification-footer-include="{{notificationFooterInclude}}"
    custom-scope="customScope">
  </div>
</div>
